<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Testing</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nobis blanditiis ullam, nam rerum fugit rem a
        facere sapiente quasi debitis, fuga maiores totam facilis, iure quibusdam voluptatum omnis excepturi?
        Esse recusandae, itaque quidem distinctio asperiores dicta. Amet quam veritatis vero earum blanditiis quo nobis
        rerum consequuntur veniam id sed incidunt, vitae quaerat molestias ipsa eius voluptatibus consequatur cumque
        fuga?
        Quae praesentium, debitis adipisci ad voluptatem perspiciatis! Hic aliquid consectetur illo delectus
        voluptatibus nemo totam, natus nam quam dolore recusandae, laborum, animi consequuntur fuga dignissimos ratione
        repellendus incidunt minus? Doloremque!
        Suscipit incidunt quas nesciunt ipsa sapiente velit praesentium, quia dolorum minima fugit aperiam vel aliquam
        aspernatur nisi eveniet ipsum ex beatae, unde sunt, deserunt quae numquam doloremque eius. Temporibus, nobis.
        Facere ex, voluptatem magnam voluptatum amet similique quam labore corrupti sequi sunt incidunt temporibus
        assumenda ad sapiente cum maxime qui laborum? Temporibus reprehenderit ducimus quidem voluptatibus distinctio.
        Praesentium, eum iste. </p>
</body>

</html>