<!DOCTYPE html>
<html lang="en">
<!-- Include a partial  -->
<%- include('partial/head'); %>

    <!-- <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home view</title>
        <script src="/js/jquery.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js"></script>

    </head> -->


    <body class="container">
        <%- include('partial/nav') %>
            <h1>Bootstrap and express integration</h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto magni provident aperiam maxime,
                architecto
                vero
                laboriosam fuga quia deleniti iste quibusdam excepturi at error corporis, quod similique mollitia eius
                aut.
                Saepe quaerat rerum, nisi facere consequuntur mollitia, quisquam nesciunt, corrupti aperiam recusandae
                dicta
                quidem. Temporibus, doloremque repellat. Nulla repellendus dolores accusantium aliquid ducimus dolor
                labore
                vero
                similique, dolore ab tempore.
                Corrupti commodi delectus eaque similique. Est quae corporis quisquam et, natus consequuntur, obcaecati
                incidunt
                aliquam sunt quibusdam unde maxime assumenda architecto, iure ipsum quis minus omnis. Quidem cum
                asperiores
                voluptatum.
                Laborum architecto alias ipsum reiciendis quod esse error ut perferendis repellat accusantium quia
                necessitatibus minima aperiam eos consequuntur tenetur, unde enim facere modi omnis nisi? Saepe quasi
                velit
                debitis qui?
                Suscipit ipsam ipsa quos magni. Officia, dicta delectus. Atque officiis odio, odit provident enim, nulla
                iure
                fugiat aliquam veniam quia, sint id accusantium facilis? Cumque enim officia sit dolorum eos!</p>
    </body>

</html>